*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #89C15E;
}

.heading{
    position: relative;
    display: flex;
    justify-content: space-between;
    left: 20rem;
    top: 3rem;
    height: 9rem;
    width: 50rem;
    border-radius: 0.65rem;
    border: 2px solid white
}

.headingLeft{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 0.7rem 0rem 0.7rem 0.7rem;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    letter-spacing: 1.7px;
    
}

.headingRight{
    display: flex;
    
}

.mainBody{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
}

.startGame{
    position: absolute;
    width: 50vw;
    padding: 4rem 0rem 0rem 0rem;
}

.topButtons{
    display: flex;
    justify-content: space-evenly;
}

.bottomButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    width: 50vw;
}

.rockButton{
    position: fixed;
    left: 32rem;
    cursor: pointer;
    height: 5.5rem;
    width: 5.5rem;
    z-index: 1;
    background: white;
    border-radius: 100%;
    border: 1rem solid #0074B6;
    padding: 1rem 0 0 0.5rem;
}

.playerRockButton{
    position: fixed;
    height: 5.5rem;
    width: 5.5rem;
    z-index: 1;
    background: white;
    border-radius: 100%;
    border: 1rem solid #0074B6;
    padding: 1rem 0 0 0.5rem;
    left: 22.5rem;
    top: 21.5rem;
}

.compRockButton{
    position: fixed;
    visibility: hidden;
    height: 5.5rem;
    width: 5.5rem;
    z-index: 1;
    background: white;
    border-radius: 100%;
    border: 1rem solid #0074B6;
    padding: 1rem 0 0 0.5rem;
    left: 60rem;
    top: 21.5rem;
}

.line1{
    position: fixed;
    top: 21rem;
    left: 40rem;
    border: 0.5rem solid black;
    height: 0px;
    width: 15rem;
    opacity: 0.65;
}

.scissorsButton{
    position: fixed;
    left: 50rem;
    cursor: pointer;
    z-index: 1;
    height: 5.5rem;
    width: 5.5rem;
    background: white;
    border-radius: 100%;
    border: 1rem solid #BD00FF;
    padding: 1rem 0 0 0.5rem;
}

.playerScissorButton{
    position: fixed;
    height: 5.5rem;
    width: 5.5rem;
    z-index: 1;
    background: white;
    border-radius: 100%;
    border: 1rem solid #BD00FF;
    padding: 1rem 0 0 0.5rem;
    left: 22.5rem;
    top: 21.5rem;
}

.compScissorsButton{
    position: fixed;
    visibility: hidden;
    height: 5.5rem;
    width: 5.5rem;
    z-index: 1;
    background: white;
    border-radius: 100%;
    border: 1rem solid #BD00FF;
    padding: 1rem 0 0 0.5rem;
    left: 60rem;
    top: 21.5rem;
}

.scissorImage{
    padding-top: 4px;
    padding-left: 20px;
}

.line2{
    position: fixed;
    top: 25rem;
    left: 45rem;
    border: 0.5rem solid black;
    height: 0px;
    width: 14rem;
    opacity: 0.65;
    rotate: 130deg;
}

.paperButton{
    position: fixed;
    top: 29rem;
    left: 41rem;
    cursor: pointer;
    z-index: 1;
    height: 5.5rem;
    width: 5.5rem;
    background: white;
    border-radius: 100%;
    border: 1rem solid #FFA943;
    padding: 1rem 0 0 0.5rem;
}

.playerPaperButton{
    position: fixed;
    height: 5.5rem;
    width: 5.5rem;
    z-index: 1;
    background: white;
    border-radius: 100%;
    border: 1rem solid #FFA943;
    padding: 1rem 0 0 0.5rem;
    left: 22.5rem;
    top: 21.5rem;
}

.compPaperButton{
    position: fixed;
    visibility: hidden;
    height: 5.5rem;
    width: 5.5rem;
    z-index: 1;
    background: white;
    border-radius: 100%;
    border: 1rem solid #FFA943;
    padding: 1rem 0 0 0.5rem;
    left: 60rem;
    top: 21.5rem;
}

.paperImage{
    padding-left: 3px;
    padding-bottom: 2px;
}

.line3{
    position: fixed;
    top: 25rem;
    left: 30rem;
    border: 0.5rem solid black;
    height: 0px;
    width: 15rem;
    opacity: 0.65;
    rotate: 50deg;
}

.Score{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    width: 8rem;
    height: 7.5rem;
    margin: 0.65rem 1.5rem 0.65rem 0.3rem;
}

.ruleBox{
    display: none;
}

.ruleText{
    margin-left: 0.5rem;
}

.open{
    width: 25vw;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.scoreText{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #656565;
    line-height: 1rem;
    letter-spacing: 1px;
    margin-top: 0.25rem;
}

.scoreDigit{
    font-size: 4.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.gameRules{
    position: absolute;
    /* top: 17.5rem;
    left: 69rem; */
    bottom: 5rem;
    right: 4rem;
    background: #004429;
    width: 14rem;
    height: 16rem;
    padding: 1.2rem 1rem 2rem 2rem;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    border: 0.4rem solid #ffffff;
    border-radius: 1.2rem;
    font-size: 0.75rem;

}

.crossButton{
    position: absolute;
    bottom: 23rem;
    right: 2.5rem;
    background: #ff0000;
    height: 2rem;
    width: 2rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 100%;
    text-align: center;
    z-index: 1;
    border: 5px solid #ffffff;
    cursor: pointer;
}

.ruleHeading{
    font-size: 2rem;
    font-weight:600;
    text-align: center;
    margin-bottom: 1rem;
}

li{
    margin: 0 0 1rem 0;
    list-style-type: none;
}

.yellowBullet1{
    position: absolute;
    left: 1rem;
    top: 5rem;
    
}

.yellowBullet2{
    position: absolute;
    left: 1rem;
    top: 8rem;
}

.yellowBullet3{
    position: absolute;
    left: 1rem;
    top: 11.5rem;
}

.yellowBullet4{
    position: absolute;
    left: 1rem;
    top: 15rem;
}

.playerWin{
    visibility: hidden;
    position: fixed;
    text-align: center;
    top: 24rem;
    left: 38.5rem;
}

.playerWin>p{
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 5px;
}

.playerWin>span{
    font-size: 1.75rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 3px;
}

.compWin{
    visibility: hidden;
    position: fixed;
    text-align: center;
    top: 24rem;
    left: 37.5rem;
}

.compWin>p{
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 5px;
}

.compWin>span{
    font-size: 1.75rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 3px;
}

.noWin{
    visibility: hidden;
    position: fixed;
    text-align: center;
    top: 24rem;
    left: 40.5rem;
}

.noWin>span{
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 5px;
    line-height: 3rem;
}

.playerSelect{
    visibility: hidden;
    z-index: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 1rem;
    position: absolute;
    top: 18rem;
    left: 23rem;
}

.pcSelect{
    visibility: hidden;
    z-index: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 1rem;
    position: absolute;
    top: 18rem;
    left: 60.5rem;
}

.winner-shadow{
    box-shadow:
    0 0 0 30px #1da82b, 
    0 0 0 50px #1da82b90, 
    0 0 0 65px #2E9A2563;
    border-radius: 50%;
  }

.playAgain{
    visibility: hidden;
    position: fixed;
    text-align: center;
    background-color: #ffffff;
    top: 30rem;
    left: 40rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #6B6B6B;
    letter-spacing: 5px;
    line-height: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border-style: none;
}

.replay{
    visibility: hidden;
    position: fixed;
    text-align: center;
    background-color: #ffffff;
    top: 30rem;
    left: 41.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #6B6B6B;
    letter-spacing: 5px;
    line-height: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border-style: none;
}

/* .playerScore{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    margin-top: 0.7rem;
    border-radius: 0.5rem;
    width: 8rem;
    height: 8.5rem;
} */

.hurrayBox{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 3vh;
}

.star1{
    position: absolute;
    top: 9rem;
    left: 1.5rem;
}

.star2{
    position: absolute;
    top: 2.3rem;
    left: 21.75rem;
}

.star3{
    position: absolute;
    top: 3rem;
    left: 9.75rem;
}

.star4{
    position: absolute;
    top: 5rem;
    left: 15rem;
}

.star5{
    position: absolute;
    top: 19rem;
    left: 8rem;
}

.star6{
    position: absolute;
    top: 12rem;
    left: 25rem;
}

.star7{
    position: absolute;
    top: 8rem;
    left: 29rem;
}

.star9{
    position: absolute;
    top: 5.5rem;
    left: 6.5rem;
}

.imageBox{
    position: relative;
    /* display: flex;
    justify-content: center ;
    align-items: end; */
    left: 28.5vw;
    height: 50vh;
    width: 40vw;
}

.trophyImage{
    position: absolute;
    top: 8.5rem;
    left: 12rem;
}

.hurray{
    color: #ffffff;
    line-height: 6rem;
    font-size:  5.5rem;
    font-weight: 600;
    font-family: Roboto;
    letter-spacing: 7px;
}

.victoryText{
    color: #ffffff;
    line-height: 4rem;
    font-size:  2rem;
    font-weight: 600;
    letter-spacing: 6px;
    font-family: Roboto;
}

.replayButton{
    position: relative;
    cursor: pointer;
    width: 9.5rem;
    height: 2.75rem;
    margin-top: 2rem;
    border-radius: 0.6rem;
    right: 0.5rem;
    border-style: none;
    background: #ffffff;
    font-family: Roboto;
    font-weight: 600;
    color: #6b6b6b;
}

.nextButton{
    visibility: hidden;
    position: absolute;
    cursor: pointer;
    width: 7rem;
    height: 2.5rem;
    margin-top: 2rem;
    border-radius: 0.75rem;
    bottom: 2rem;
    right: 13.5vw;
    border: 1px solid white;
    background: #89C15E;
    font-family: Roboto;
    font-weight: 600;
    color: #ffffff;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
}

.rulesButton{
    position: absolute;
    cursor: pointer;
    width: 7rem;
    height: 2.5rem;
    margin-top: 2rem;
    border-radius: 0.75rem;
    bottom: 2rem;
    right: 4vw;
    border: 1px solid white;
    background: #89C15E;
    font-family: Roboto;
    font-weight: 600;
    color: #ffffff;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
}

.tempClass{
    visibility: visible;
}
